@font-face {
font-family: 'iconfont';
url('/fonts/iconfont.woff2') format('woff2'),
url('/fonts/iconfont.woff') format('woff'),
url('/fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuijingengxin:before {
  content: "\e6cf";
}

.icon-tingshu-mulu:before {
  content: "\e620";
}

.icon-pinglun:before {
  content: "\e618";
}

.icon-tuijian:before {
  content: "\e628";
}

.icon-sousuowenjian:before {
  content: "\e600";
}

.icon-biaoqian:before {
  content: "\e602";
}

.icon-guanyuwomen:before {
  content: "\e68d";
}

.icon-youqinglianjie:before {
  content: "\e636";
}

.icon-sousuo:before {
  content: "\e8ba";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-guanyu:before {
  content: "\e633";
}

.icon-zhuye:before {
  content: "\e65d";
}

.icon-dianying:before {
  content: "\e68b";
}

.icon--wode:before {
  content: "\e6b0";
}

.icon-QQyouxiang:before {
  content: "\e95b";
}

.icon-zhaopian:before {
  content: "\e614";
}

.icon-16:before {
  content: "\e625";
}

.icon-yule:before {
  content: "\e662";
}

.icon-fenlei:before {
  content: "\e637";
}

.icon-yinle:before {
  content: "\e60d";
}

.icon-steam:before {
  content: "\e610";
}

.icon-guanzhu:before {
  content: "\e67c";
}

.icon-zhengchang:before {
  content: "\e685";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-aixin:before {
  content: "\e85c";
}

.icon-git1:before {
  content: "\e72a";
}
